# R
.Rhistory
.RData
.Rproj.user

# Secrets
.Renviron

# Raw data (too large / reproducible)
data/raw/

# Outputs (can be regenerated)
outputs/

# Mac
.DS_Store

# ===============================
# Coursework reports (IJC437)
# ===============================
IJC437_Air_Quality_PM25_Prediction_Khalil_Alakbarzade.docx
IJC437_Air_Quality_PM25_Prediction_Khalil_Alakbarzade-*.pdf
.~C437_Air_Quality_PM25_Prediction_Khalil_Alakbarzade.docx